<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <title><%= name %></title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

  <!-- Inter font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="h-full bg-gray-100 dark:bg-gray-900 p-12" style="font-family: 'Inter'">
  <div class="flex min-h-full">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <span class="text-gray-400 dark:text-gray-500 text-lg font-semibold tracking-tight mt-2 mb-2"><%= name %></span>
          <h2 class="mt-6 text-3xl font-semibold tracking-tight text-gray-600 dark:text-gray-300">Sign in to your account</h2>
          <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
            Welcome back! Sign in to continue.
          </p>
        </div>

        <div class="mt-16">
          <div>
            <div class="relative mt-6">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300 dark:border-gray-700"></div>
              </div>
  <% if (req.query.err == "INTERNALERROR") { %>
          <div class="bg-red-900/50 border-l-4 border-red-400 rounded-lg text-red-100 px-4 py-3 relative" role="alert">
            <div class="flex">
              <div class="py-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-400 mr-3">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
              </div>
              <div>
                <p class="font-bold">Internal Server Error</p>
                <p class="text-sm relative">PalPod couldn't process the action due to an internal issue.</p>
              </div>
            </div>
          </div>
          <% } %> <% if (req.query.err == "BANNED") { %>
            <div class="bg-red-900/50 border-l-4 border-red-400 rounded-lg text-red-100 px-4 py-3 relative" role="alert">
              <div class="flex">
                <div class="py-1">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-400 mr-3">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                  </svg>
                </div>
                <div>
                  <p class="font-bold">Your account has been banned</p>
                  <p class="text-sm relative">You were banned for this reason: <%= req.query.reason %></p>
                </div>
              </div>
            </div>
            <% } %>       
              <div class="relative flex justify-center text-sm">

              </div>
            </div>
          </div>
     
          <div class="mt-6">
            <form action="#" method="POST" class="space-y-6">
              <div>
                <a href="../login/discord" class="transition inline-flex items-center rounded-2xl bg-gray-200 dark:bg-gray-700 px-8 py-3 text-sm font-medium text-gray-600 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 dark:focus-visible:outline-gray-400 w-full flex text-center justify-center">Login</a>
                <p>OR</p>
                <a href="../panel" class="transition inline-flex items-center rounded-2xl bg-gray-200 dark:bg-gray-700 px-8 py-3 text-sm font-medium text-gray-600 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 dark:focus-visible:outline-gray-400 w-full flex text-center justify-center">Panel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 h-full w-full object-cover rounded-3xl" src="https://bhe4host.pages.dev/bimg.png" alt="">
    </div>
  </div>
</body>
</html>